@charset "UTF-8";

/* 回答はここに書いてね */

.text-box{
    padding: 20px;
    border: 10px solid #022336;
    background-color: #eaf4ff;
}

p{
  font-size:16px;
}

.blue-box:first-child{
  margin-left: 0px;
}
.blue-box{
  float: left;
  margin-left: 20px;
  padding: 20px;
  width: 230px;
  background-color: #3274ae;
}

.gray-box{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eff3f4;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

/* 回答はここに書いてね */
