@charset "UTF-8";

/* 回答はここに書いてね */


/* クラスを指定 */
/* .wTable */

.wTable th,td { 
    text-align: center; 
    padding: 10px;
    border: 1px solid #dedede;
    vertical-align: middle;
}

.wTable th{
  background-color: #2244aa;
  color : white;
  font-size: 18px;
  line-height: 26px; 
}
.wTable tr:nth-child(even) {
  background-color: #ECF1F2;
}


.wTable td{
  line-height: 22px;
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse:  collapse;     /* セルの線を重ねる */
}

.wTable > tbody > tr:last-child {
  border-top: 2px dashed #000;
}