@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.q8__btn--small{
  font-size:16px;
  padding:0 15px;
  line-height: 26px;
  border-radius: 3px;
  display:inline-block;
  margin-left:10px;
}

.q8__btn--middle{
  font-size:20px;
  padding:0 20px;
  line-height: 32px;
  border-radius: 5px;
  display:inline-block;
  margin-left:10px;
}

.q8__btn--large{
  font-size:25px;
  padding:0 25px;
  line-height: 38px;
  border-radius: 7px;
  display:inline-block;
  margin-left:10px;
}


.q8__btn--common{
  background-color: #00bcd4;
  margin-left:0px;
  color:white;
}

.q8__btn--error{
  background-color: #ff4081;
  color:white;
  
}

.q8__btn--disable{
  background-color: #e5e5e5;
  color:white;
  
}


.q8__btn--shadow{
  background-color: white;
  color:#222;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);
}

/* 下記お問い合わせフォーム */

.form {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ECF1F2;
}

.q8__form__title{
  position: relative;
  margin-bottom: 20px;
}

.q8__form__title__text {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}

.q8__form__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.common{
  padding-top:30px;
}

.name{
  display:inline-block;
}

.name-box{
  display:inline-block;
}

.name-form{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

.gender-check{
  display:inline-block;
}

.gender{
  display:inline-block;
}

.q8__radio__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.pre{
  width: 180px;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display:inline-block;
}


 select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
 }


 select::-ms-expand {
   display: none;
 }

.prefecture{
  width: 300px;
}




.email-form{
  display:inline-block;
  /* box-sizing: border-box; */
}

.email{
  width:400px;
  /* display:inline-block;
  box-sizing: border-box; */
}



.tele-form{
  display:inline-block;
}

.minority-check{
  display:inline-block;
}

.right{
   float:right;
   width: 380px;
}

.left{
  float:left;
  width:300px;
}

.q8__main__items__title {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.q8__main__items__content {
    float: right;
    width: 180px;
}

.q8__side__text {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}

.q8__input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}


/* .main-item{
  margin-bottom: 20px;  
} */

.q8__chackbox{
  float:right;
}

.btn{
  float:right;
}

.q8__main__items > li{
  margin-top: 20px;
}

.q8__main__items > li:first-child{
  margin-top: 0px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q8__main__bottom__btn {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}

.q8__main__items {
  margin-bottom: 20px;
}
.is-required {
  color: #F00;
}
.textbox {
  float: right;
  width: 380px;
}
.q8__form {
  width: 689px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.q8__select {
  position: relative;
  
}

.q8__select:after {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q8__radio {
  cursor: pointer;
}

.q8__radio__text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
input[type="radio"]{
  -webkit-appearance: none;
}

.gender-form:checked + .q8__radio__text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}

input{
  border-style:none;
}
.q8__input:focus {
  outline:none;
  box-shadow: 0 0 7px #00BCD4;
}



.pre:focus{
    outline:none;
}

textarea{
  border-style:none;
  outline:none;
}

.q8__side__text:focus{
  outline:none;
  box-shadow: 0 0 7px #00BCD4;
}

select{
  border-style:none;
}




.q8__checkbox__btn {
  display: none;
}


.q8__checkbox__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: '';
}

.q8__checkbox__text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.q8__checkbox__btn:checked + .q8__checkbox__text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
}

